* {
    --dark-blue: #065E7C;
    --medium-blue: #387E96;
    --title-black: #202024;
    --body-black: #121214;
    font-family: 'Mulish', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
    text-justify: justify;
    line-height: 200%;
}

main > p,
h1,
section {
    margin: 3.2rem 2.2rem 0;
}

h1 {
    font-size: 2.4rem;
    font-weight: 700px;
}

/* main */

main {
    width: 100vw;
}

main > p {
    font-size: 1.6rem;
}

main > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1.2rem
}

main > div > div {
    display: flex;
    gap: 12px;
    margin-left: 22px; 
}

#cover {
    width: 100vw;
    height: 50vw;
}

/* aside */

section {
    display: grid;
    grid-template-columns: 15rem calc(100vw - 15rem - 4.4rem - 1.6rem);
    gap: 1.6rem
}

h2 {
    font-size: 1.8rem;
    font-weight: 700px;
}

section > span > p {
    font-size: 1.4rem;
}

.cat{
    width: 15rem;
    height: 8.5rem;
    object-fit: cover;
    border-radius: 5px;
}

/* footer */
footer {
    background-color: var(--medium-blue);
    height: 6.4rem;
    color: white;
    text-align: center;
    margin-top: 4rem
}

footer > p {
    padding: 1.6rem ;
    font-size: 1.6rem;
    line-height: 200%;
}

/* header */

header {
    background-color: var(--dark-blue);
    height: 7.2rem;
    display: flex;
    gap: 2.5rem;
    padding: 1.2rem 2.8rem;
    align-items: center;
}

header > img {
    width: 4rem;
    height: 4rem;
}

#man {
    border-radius: 50%;
}

/* hidding label but keeping it acessible*/
label {
    width: 0;
    height: 0;
    overflow: hidden;
    position: absolute;
}

input {
    padding: 1.2rem 1.6rem 1.2rem 1.4rem;
    border-radius: .4rem;
    background: rgba(255, 255, 255, 0.20);
    border: none;
    flex-grow: 1;
}

input::placeholder{
    color: white;
}

/* like and dislike buttons */

button {
    border: none;
    border-radius: 50%;
    background-color: var(--dark-blue);
    padding: 1.2rem;
}

button > img {
    width: 1.6rem;
    height: 1.6rem;
}

button:nth-child(2){
    transform: rotate(180deg);
}

/* desktop */

@media (min-width: 800px) {
    #cover {
        width: 80rem;
        height: 40rem;
        border-radius: 5px;
    }
}